<main>
  <h1>Login</h1>
  <div class="container_login">
    <form action="" method="post">
      <label for="email">E-mail</label>
      <input type="email" name="email" placeholder="Digite seu email" />
      <label for="password">Senha:</label>
      <input type="password" name="password" placeholder="Digite sua senha" />
      <input type="submit" value="Entrar" class="btn" />
    </form>

  </div>

</main>