<main>
  <h1>Register</h1>
  <div class="container_login">
    <form action="/register" method="post">
      <label for="email">E-mail:</label>
      <input type="email" name="email" placeholder="Digite seu email" />
      <label for="password">Senha:</label>
      <input type="password" name="password" placeholder="Digite sua senha" />
      <label for="confirmPassword">Confirmar Senha:</label>
      <input
        type="password"
        name="confirmPassword"
        placeholder="Digite a senha para confirmar"
      />
      <input type="submit" value="Registrar" class="btn" />
    </form>

  </div>

</main>